<div class="container">
  <div class="user-details">
    <h3> Who am I ? </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <p>
        Designed websites with HTML, CSS, JavaScript, and Bootstrap learning the basic functions and implementing them.
      </p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-java-plain-wordmark colored" style="font-weight:500"></i>
      <i class="devicon-python-plain-wordmark colored" style="color:#4584b6"></i>
      <i class="devicon-swift-plain colored"></i>
      <p> Developed several projects in Java, JavaScript, Python, and Swift in order to create the most efficient applications.
      </p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-sublime-plain colored"></i>
      <i class="devicon-git-plain-wordmark" style="color:black"> </i>
      <p> Used GitHub to publish projects, and contribute to various other repositories.
      </p>
    </div>
  </div>
</div>
