<script>
    var currentDivName = "experienceDetails";
    var currentButtonName = "experienceButton";
    function toggleViewingDetails(divName, buttonName) {
        var currentElement = document.getElementById(currentDivName);
        var requestedElement = document.getElementById(divName);
        if (currentElement != requestedElement) {
            currentElement.style.display = "none";
            requestedElement.style.display = "block";
            currentDivName = divName;
            toggleActiveButton(buttonName);
        }
    }
    function toggleActiveButton(buttonName) {
        var currentElement = document.getElementById(currentButtonName);
        var requestedElement = document.getElementById(buttonName);

        currentElement.className = "";
        requestedElement.className = "activeButton";
        currentButtonName = buttonName;
    }
</script>

<div id="allExperience">
    <div class="container">
        <div class="user-details">
            <h3 style="text-decoration:underline">Experience & Education</h3>
        </div>
        <div class="EandEButtons">
            <button onclick="toggleViewingDetails('experienceDetails','experienceButton')" id="experienceButton"
                class="activeButton">Experience</button>
            <button onclick="toggleViewingDetails('educationDetails','educationButton')"
                id="educationButton">Education</button>
        </div>
        <div class="allDetails" id="ExAndEdDetails">
            <div id="experienceDetails">
                <div class="row user-projects">
                    <div class="six columns images">
                        <img src="{{ "/assets/img/cmeLogo.JPG" | prepend: site.baseurl }}" />
                    </div>
                    <div class="six columns">
                        <h5 style="padding-bottom:10px">CME Group </h5>
                        <p class="DatesAndLocation">📍 Chicago, IL<br> May 2019 - Aug 2019</p>
                        <p align="justify">
                            Working as a Software Engineering Intern at the Chicago Mercentile Exchange for the 2019
                            Summer. More details Soon...
                        </p>
                        <!-- <a class="project-link" href="https://www.waksman.rutgers.edu/education/scholars">Check it out</a> -->
                    </div>
                </div>
            </div>
            <div id="educationDetails" style="display: none">
                <div class="row user-projects">
                    <div class="six columns images">
                        <img src="{{ "/assets/img/purdueLogo.png" | prepend: site.baseurl }}" />
                    </div>
                    <div class="six columns">
                        <h5 style="padding-bottom:10px">Purdue University </h5>
                        <p class="DatesAndLocation">📍 West Lafayette, IN<br> Aug 2018 - Present</p>
                        <p align="justify">
                            Undergraduate student majoring in Computer Engineering.
                        </p>
                        <p align="justify" id="relevantCoursework">
                            Relevant Coursework
                            <ul>
                            <li>ECE 264 - Advanced C Programming</li>
                            <li>ECE 368 - Data Structures and Algorithms</li>
                            </ul>
                        </p>
                        <!-- <a class="project-link" href="https://www.waksman.rutgers.edu/education/scholars">Check it out</a> -->
                    </div>
                </div>
                <div class="row user-projects">
                    <div class="six columns images">
                        <!-- <img src="{{ "/assets/img/rutgersPrepLogo.png" | prepend: site.baseurl }}" id="rutgersPrepLogo"/> -->
                    </div>
                    <div class="six columns">
                        <h5 style="padding-bottom:10px">Rutgers Preparatory High School </h5>
                        <p class="datesAndLocation"> 📍 Somerset, NJ<br> 2014 - 2018 </p>
                        <p align="justify">
                            Graduated High School 😃
                        </p>
                        <!-- <a class="project-link" href="https://www.waksman.rutgers.edu/education/scholars">Check it out</a> -->
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>