<script>
    var currentDivName = "experienceDetails";
    var currentButtonName = "experienceButton";
    function toggleViewingDetails(divName, buttonName) {
        var currentElement = document.getElementById(currentDivName);
        var requestedElement = document.getElementById(divName);
        if (currentElement != requestedElement) {
            currentElement.style.display = "none";
            requestedElement.style.display = "block";
            currentDivName = divName;
            toggleActiveButton(buttonName);
        }
    }
    function toggleActiveButton(buttonName) {
        var currentElement = document.getElementById(currentButtonName);
        var requestedElement = document.getElementById(buttonName);

        currentElement.className = "";
        requestedElement.className = "activeButton";
        currentButtonName = buttonName;
    }
</script>

<div id="allExperience">
    <div class="container">
        <div class="user-details">
            <h3 style="text-decoration:underline">Experience & Education</h3>
        </div>
        <div class="EandEButtons">
            <button onclick="toggleViewingDetails('experienceDetails','experienceButton')" id="experienceButton"
                class="activeButton">Experience</button>
            <button onclick="toggleViewingDetails('educationDetails','educationButton')"
                id="educationButton">Education</button>
        </div>
        <div class="allDetails" id="ExAndEdDetails">
            <div id="experienceDetails">
                <div class="row user-projects">
                    <div class="six columns images">
                        <img src="{{ "/assets/img/cmeLogo.JPG" | prepend: site.baseurl }}" />
                    </div>
                    <div class="six columns">
                        <h5 style="padding-bottom:10px">CME Group</h5>
                        <p class="DatesAndLocation">📍 Chicago, IL<br> May 2019 - Aug 2019</p>
                        <p align="justify" style="margin-bottom: 0px">
                            <strong><em>Software Engineering Intern &ndash; Trade Execution
                                        Systems</em></strong>
                            <ul id="CMEDetails">
                                <li>Worked with Order Entry division of the <strong>GLOBEX</strong> platform. Developed a wrapper
                                    class and implemented <strong>fault tolerance</strong> across Market Segment Gateway
                                    (MSGW) instances with FT daemons.</li>
                                <li>Implemented a <strong>dynamic state sync</strong> across all connected distributed
                                    systems: <strong>client systems, order entry systems, and matching engine</strong>.
                                    Improved team&rsquo;s SDLC by over 30% with FT implementation.</li>
                                <li>Developed programs to reduce regression report runtime on AWS EC2.</li>
                                <li>Experienced in <strong>SDLC Agile</strong> environment working with
                                    <strong>distributed system architecture</strong>.</li>
                                <li>2019 CME CodeUp- Won<strong> 3<sup>rd</sup> Place</strong> developing efficient
                                    <strong>trading algorithms</strong> on <strong>derivative markets</strong>.</li>
                            </ul>

                        </p>
                        <!-- <a class="project-link" href="https://www.waksman.rutgers.edu/education/scholars">Check it out</a> -->
                    </div>
                </div>
            </div>
            <div id="educationDetails" style="display: none">
                <div class="row user-projects">
                    <div class="six columns images">
                        <img src="{{ "/assets/img/purdueLogo.png" | prepend: site.baseurl }}" />
                    </div>
                    <div class="six columns">
                        <h5 style="padding-bottom:10px">Purdue University </h5>
                        <p class="DatesAndLocation">📍 West Lafayette, IN<br> Aug 2018 - Present</p>
                        <p align="justify">
                            Undergraduate student majoring in Computer Engineering.
                        </p>
                        <p align="justify" id="relevantCoursework">
                            Teaching Assistant
                            <ul>
                                <li>ECE 368 - Data Structures and Algorithms</li>
                                <li>ECE 264 - Advanced C Programming</li>
                                <li>CS 159 - Programming Applications for Engineers </li>
                            </ul>
                        </p>
                        <p align="justify" id="relevantCoursework">
                            Relevant Coursework
                            <ul>
                                <li>ECE 368 - Data Structures and Algorithms</li>
                                <li>ECE 264 - Advanced C Programming</li>
                                <li>ECE 368 - Data Structures and Algorithms</li>
                            </ul>
                        </p>
                        <!-- <a class="project-link" href="https://www.waksman.rutgers.edu/education/scholars">Check it out</a> -->
                    </div>
                </div>
                <div class="row user-projects">
                    <div class="six columns images">
                        <!-- <img src="{{ "/assets/img/rutgersPrepLogo.png" | prepend: site.baseurl }}" id="rutgersPrepLogo"/> -->
                    </div>
                    <div class="six columns">
                        <h5 style="padding-bottom:10px">Rutgers Preparatory High School </h5>
                        <p class="datesAndLocation"> 📍 Somerset, NJ<br> 2014 - 2018 </p>
                        <p align="justify">
                        </p>
                        <!-- <a class="project-link" href="https://www.waksman.rutgers.edu/education/scholars">Check it out</a> -->
                    </div>
                </div>
            </div>

        </div>


    </div>


</div>